.row
  .span12
    h3 JavaScript
    pre.
      (function () {
        "use strict";

        var YAML = require('json2yaml')
          , json
          , data
          , yaml
          ;

        json = '{ "foo": "bar" }';
        data = JSON.parse(json);
        yaml = YAML.stringify(data);

        console.log(yaml);
      }());

    ul
      li
        code npm install json2yaml
      li
        a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/parse") JSON.parse
      li
        a(href="https://github.com/coolaj86/json2yaml") YAML.stringify
